body {
    font-family: Arial;
}

.task-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px 80px;
}

.task-card {
    outline: 1px solid black;
    border-radius: 10px;
    padding: 20px 40px;
    font-size: 32px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.task-card:hover {
    outline: 4px solid black;
}

.task-card>.completion-checkbox {
    width: 2rem;
    height: 2rem;
}

.task-card>span {
    flex-grow: 1;
}

.task-card>button {
    padding: 4px;
}
