body {
    font-family: 'Arial';
}

.main-todo-table {
    margin-top: 8px;
    border: 1px solid black;
    border-collapse: collapse;
}

.main-todo-table thead {
    background-color: black;
    color: white;
    border: 1px double black;
}

.main-todo-table th, .main-todo-table td {
    padding: 4px 10px;
}

.main-todo-table th {
    text-align: center;
    border: 1px solid darkgray;
}

.main-todo-table td {
    border: 1px solid black;
}

.main-todo-table td:has(button) {
    text-align: center;
}

.no-tasks-message {
    margin-top: 8px;
}

button {
    margin-top: 3px;
    margin-bottom: 8px;
}

.add-btn, .edit-btn, .remove-btn, .cancel-btn {
    padding: 5px 10px;
    font-size: 1rem;
    border-radius: 5px;
    background-color: transparent;
}

.add-btn {
    --add-green-color-main: rgb(0, 144, 0);
    color: var(--add-green-color-main);
    border: 2px solid var(--add-green-color-main);
}

.edit-btn {
    --edit-blue-color-main: rgb(0, 0, 200);
    color: var(--edit-blue-color-main);
    border: 2px solid var(--edit-blue-color-main);
    margin-right: 4px;
}

.remove-btn {
    --remove-red-color-main: rgb(200, 0, 0);
    color: var(--remove-red-color-main);
    border: 2px solid var(--remove-red-color-main);
}

.cancel-btn {
    --cancel-black-color-main: rgb(0, 0, 0);
    color: var(--cancel-black-color-main);
    border: 2px solid var(--cancel-black-color-main);
}

.mini-btn {
    font-size: 0.9rem;
    padding: 4px 8px;
    margin: 2px 0px;
}

label {
    font-size: 1.2rem;
}

#todo-name, #todo-urgency {
    font-size: 1.2rem;
    padding: 2px;
    margin-bottom: 5px;
}

#todo-urgency {
    min-width: 70px;
}
